Camp_Code/Cassava-leaf实战项目/__pycache__/model.cpython-312.pyc
Camp_Code/Cassava-leaf实战项目/Cassava-leaf（Predict更新版）/__pycache__/model.cpython-312.pyc
Camp_Code/Cassava-leaf实战项目/Cassava-leaf（Predict更新版）/class_indices.json
Camp_Code/Cassava-leaf实战项目/Cassava-leaf（Predict更新版）/基于cassava数据集训练的resNet34模型.pth
